<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  <div class="information">
    <div class="columnLeft">
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Your name</mat-label>
          <input
            formControlName="name"
            matInput
            placeholder="Ex. enter your name"
            required
          />
          <mat-error *ngIf="myForm.get('name').invalid">
            (Please provide a name.)
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Your Surname name</mat-label>
          <input
            formControlName="surName"
            matInput
            placeholder="Ex. enter your Surname"
          />
          <mat-error *ngIf="myForm.get('surName').invalid">
            (Please provide your Surname.)
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Your email</mat-label>
          <input
            formControlName="email"
            matInput
            placeholder="Ex. enter your email id"
            required
          />
          <mat-error *ngIf="myForm.get('email').invalid">
            (Please provide an email.)
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="columnRight">
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Your address</mat-label>
          <input
            formControlName="address"
            matInput
            placeholder="Ex. enter your address"
            required
          />
          <mat-error *ngIf="myForm.get('address').invalid">
            (Please provide your address.)
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Your city</mat-label>
          <input
            formControlName="city"
            matInput
            placeholder="Ex. enter your city"
            required
          />
          <mat-error *ngIf="myForm.get('city').invalid">
            (Please provide your city name.)
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <mat-form-field appearance="fill">
      <!--      <mat-label>{{ pizzanames[0].name }}</mat-label>-->
      <mat-select [formControlName]="'pizzaBase'">
        <mat-option
          *ngFor="let pizza of pizzanames"
          [value]="pizza.price"
          (click)="calculatePrice()"
        >
          {{ pizza.name }} ( {{ pizza.price | currency: "EUR":"symbol":"1.2" }})
        </mat-option>
      </mat-select>
    </mat-form-field>
    <label id="example-radio-group-label">Choose Pizza Size</label>
    <mat-radio-group
      [formControlName]="'pizzaSize'"
      (change)="calculatePrice()"
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
    >
      <mat-radio-button
        class="example-radio-button"
        *ngFor="let pizzaSize of sizes"
        [value]="pizzaSize.price"
      >
        {{ pizzaSize.size }}cm ({{
          pizzaSize.price | currency: "EUR":"symbol":"1.2"
        }})
      </mat-radio-button>
    </mat-radio-group>

    <span class="example-list-section">
      <ul>
        <li *ngFor="let extra of extras; index as i">
          <!--          <formControlName="checkBox" />-->
          <mat-checkbox
            [formControl]="getExtrasControll(i)"
            [value]="extra.price"
            (change)="calculatePrice()"
          >
            {{ extra.name }}
            {{ extra.price | currency: "EUR":"symbol":"1.2" }}
          </mat-checkbox>
        </li>
      </ul>
    </span>
  </div>
  <span class="calculatePrice"
    >Total amount is {{ totalAmount | currency: "EUR":"symbol":"1.2" }}</span
  >
  <section>
    <div class="example-label"></div>
    <div class="example-button-row">
      <button
        type="submit"
        mat-flat-button
        color="primary"
        [disabled]="myForm.invalid"
      >
        Submit
      </button>
      <button type="reset" mat-flat-button color="warn">Reset</button>
    </div>
  </section>
</form>
