form {
  background-color: rgba(177, 177, 153, 0.6);
  width: 100%;
}

.information {
  display: flex;
  flex: 1 1 auto;
  border-color: white;
  color: white;
  font-weight: bolder;
  font-size: 12px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
  padding: 2.25em 1.5em 0.75em 1.5em;
  margin-left: 2em;
}
.calculatePrice {
  //flex: 1 1 auto;
  position: absolute;
  margin-left: 55em;
  margin-top: 1%;
  color: white;
  font-weight: bolder;
}
.submit,
.reset {
  justify-content: center;
  width: 120px;
  flex: 1 1 auto;
  background-color: gray;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
  color: white;
  padding: 2.25em 1.5em 0.75em 1.5em;
  margin-top: 1em;
  margin-left: 10%;
  font-size: 16px;
  font-weight: bolder;
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}
.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
ul {
  list-style-type: none;
  margin-top: 4px;
}
