/* You can add global styles to this file, and also import other style files */
html,
body {
  width: 100%;
  height: 100%;
  opacity: 1;
  background-image: url("https://image.shutterstock.com/image-photo/vegetarian-pizza-on-dark-background-260nw-406259110.jpg");
  background-attachment: fixed;
  background-size: cover;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0s;
  position: absolute;
  top: 0;
  left: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
